<?xml version="1.0"?>

<robot name="cuber">

<!--base_link-->
<!--base_link will be the GPS mount location, 1 meter down-->
    <link name="base_link" />

<!--novatel-->
    <link name="novatel_center"/>

    <joint name="novatel_center_joint" type="fixed">
        <parent link="base_link"/>
        <child link="novatel_center"/>
        <origin xyz="0 0 0.6858" rpy="0 3.141592653589 0"/>
        <!-- <origin xyz="0 0 0.6858" rpy="0 0 0"/> -->
    </joint>

<!--zed-->
    <!--zed mount location-->
    <link name="zed_camera_mount"/>
    <joint name="zed_camera_mount_joint" type="fixed">
        <parent link="base_link"/>
        <child link="zed_camera_mount"/>
        <origin xyz="1.5 0 0" rpy="0 0 0"/>
    </joint>


    <!--zed mesh model-->
    <link name="zed_camera_pos">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://zed_wrapper/urdf/models/ZED.stl" />
            </geometry>
            <material name="light_grey">
                <color rgba="0.8 0.8 0.8 0.8"/>
            </material>
        </visual>
    </link>
    
    <joint name="zed_camera_pos_joint" type="fixed">
        <parent link="zed_camera_mount"/>
        <child link="zed_camera_pos"/>
        <origin xyz="0 0 0" rpy="0 0.26 0"/>
    </joint>


<!--VLP-16-->
    <link name="velodyne"/>

    <joint name="velodyne_joint" type="fixed">
        <parent link="zed_camera_mount"/>
        <child link="velodyne"/>
        <origin xyz="-0.7239 0.03578 0.6858" rpy="0 0.01 -0.18"/>
    </joint>
</robot>
