# .envrc
strict_env
direnv_version '2.32.3'


watch_file './site_scons/env.py'
eval $(./site_scons/env.py --export)


COLOR_MAGENTA="\033[1;35m"

FORMAT_BOLD="\033[1m"
FORMAT_NONE="\033[0m"

MSG_INFO="${FORMAT_BOLD}${COLOR_MAGENTA}info:${FORMAT_NONE}"

msg_info()
{
	printf '%b %s\n' "$MSG_INFO" "$1"
}


use flake


if [ ! -f "$IDF_TOOLS_PATH/.requirements-installed" ]; then
	msg_info 'installing esp-idf since it seems to be missing'

	"$IDF_PATH/install.sh" "$IDF_TARGETS"

	touch "$IDF_TOOLS_PATH/.requirements-installed"
fi


if [ ! -d "$VIRTUAL_ENV" ]; then
	msg_info "creating \`$VIRTUAL_ENV\` because it doesn't seem to exist"

	python -m venv "$VIRTUAL_ENV"
fi

if [ -n "${FISH_VERISON-}" ]; then
	. "$VIRTUAL_ENV/bin/activate.fish"
else
	. "$VIRTUAL_ENV/bin/activate"
fi

if [ ! -f "$VIRTUAL_ENV/.requirements-installed" ]; then
	msg_info 'installing python requirements since they seem to be missing'

	pip install -r 'requirements.txt'
	pip install -r 'requirements-local.txt'

	touch "$VIRTUAL_ENV/.requirements-installed"
fi


PATH_add "$CARGO_HOME/bin"
watch_file './tools/cargo-install-gen.py'

if [ ! -f "$CARGO_HOME/.crates-installed" ]; then
	msg_info 'installing rust crates since they seem to be missing'

	eval $(./tools/cargo-install-gen.py --config 'crates.toml')

	touch "$CARGO_HOME/.crates-installed"
fi


pre-commit install


PATH_add 'bin'
