COLOR_YELLOW="\033[1;33m"
FORMAT_BOLD="\033[1m"
FORMAT_NONE="\033[0m"
MSG_WARNING="${FORMAT_BOLD}${COLOR_YELLOW}WARNING${FORMAT_NONE}"

# venv
VENV="deps/venv"

if [ -d "$VENV" ]; then
    if [ -n "$FISH_VERISON" ]; then
        . "$VENV/bin/activate.fish"
    else
        . "$VENV/bin/activate"
    fi
else
    printf '%b: no virtual environment detected!\n' "$MSG_WARNING"
fi

# Cargo/Rust
PATH_add deps/rust/current

# Aliases -------------------------------------------------
# https://github.com/direnv/direnv/issues/73#issuecomment-1242969787
export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  local oldpath="$PATH"
  mkdir -p "$alias_dir"
  if ! [[ ":$PATH:" == *":$alias_dir:"* ]]; then
    PATH_add "$alias_dir"
  fi

  echo "#!/usr/bin/env bash" > "$target"
  echo "PATH=\"$oldpath\"" >> "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

# Invoke pio through scons for best dependency management.
export_alias fwpio "scons -DQs node_fw \"--pioflags=\$*\""

use flake
