COLOR_YELLOW="\033[1;33m"
FORMAT_BOLD="\033[1m"
FORMAT_NONE="\033[0m"

MSG_WARNING="${FORMAT_BOLD}${COLOR_YELLOW}WARNING${FORMAT_NONE}"


VENV="deps/venv"


if [ -d "$VENV" ]; then
    if [ -n "$FISH_VERISON" ]; then
        . "$VENV/bin/activate.fish"
    else
        . "$VENV/bin/activate"
    fi
else
    printf '%b: no virtual environment detected!\n' "$MSG_WARNING"
fi

# Cargo/Rust
PATH_add deps/rust/current
