aenum==3.1.8
argparse-addons==0.7.0
bitstruct==8.12.1
black==22.1.0
click==8.0.3
diskcache==5.4.0
flake8==4.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.0
pycodestyle==2.8.0
pyflakes==2.4.0
python-can==3.3.4
python-dateutil==2.8.2
six==1.16.0
strictyaml==1.6.1
textparser==0.23.0
tomli==2.0.1
typing_extensions==4.1.1
wrapt==1.13.3
