<launch>
    <!-- ZED Param -->
    <arg name="zed_namespace"           default="zed" />
    <arg name="svo_file"                default="" />
    <arg name="zed_node_name"           default="zed_node" />
    <arg name="camera_model"            default="zed2i" /> 
    <arg name="base_frame"              default="base_link" />

    <!-- ZED Node -->
    <group ns="$(arg zed_namespace)">
        <include file="$(find zed_wrapper)/launch/include/zed_camera.launch.xml">
            <arg name="svo_file"        value="$(arg svo_file)" />
            <arg name="node_name"       value="$(arg zed_node_name)" />
            <arg name="camera_model"    value="$(arg camera_model)" />
            <arg name="base_frame"      value="$(arg base_frame)" />
        </include>
    </group>
</launch>