<launch>
    <!-- ZED related arguments -->
    <arg name="zed_namespace"        default="zed" />
    <arg name="zed_node_name"        default="zed_node" />

    <!-- Lidar related arguments -->
    <arg name="subscribe_scan"      default="false" />
    <arg name="approx_sync"      default="false" />

    <arg name="rviz"                    default="true" />
    <arg name="rviz_cfg"                default="$(find rtabmap_launch)/rviz/gem.rviz " />

    <!-- RGB-D related topics -->
    <arg name="depth_topic"             default="/$(arg zed_namespace)/$(arg zed_node_name)/depth/depth_registered" />
    <arg name="rgbd_topic"              default="$(arg zed_namespace)/rgbd_image" />

    <!-- Odometry topic name -->
    <arg name="odom_topic"              default="/encoder_odom" />

    <!-- Localization-only mode -->
    <arg name="localization"            default="false"/>
    <arg name="deletedb"                default="false"/>
    <arg     if="$(arg deletedb)"   name="rtabmap_args"    default="--delete_db_on_start"/>
    <arg unless="$(arg deletedb)"   name="rtabmap_args"    default=""/>

    <group ns="rtabmap">

        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync">
            <remap from="rgb/image"       to="/$(arg zed_namespace)/$(arg zed_node_name)/rgb/image_rect_color"/>
            <remap from="depth/image"     to="/$(arg zed_namespace)/$(arg zed_node_name)/depth/depth_registered"/>
            <remap from="rgb/camera_info" to="/$(arg zed_namespace)/$(arg zed_node_name)/rgb/camera_info"/>
            <param name="approx_sync"     value="false"/>
        </node>

        <node name="rtabmap" pkg="rtabmap_ros" type="icp_odometry" output="screen" args="$(arg rtabmap_args)">
            <rosparam command="load" file="/app/ros_ws/src/rtabmap_launch/params/rtabmap.yaml" />

            <!-- determine if we subscribe to lidar -->
            <param     if="$(arg subscribe_scan)"   name="subscribe_scan"   type="bool"   value="true"/>
            <param unless="$(arg subscribe_scan)"   name="subscribe_scan"   type="bool"   value="false"/>

            <!-- input topics -->
            <remap from="scan"              to="/scan" />
            <remap from="scan_cloud"        to="/velodyne_points"/>
            <remap from="odom"              to="$(arg odom_topic)" />
            <remap from="gps/fix"               to="/gps/fix"/>

            <!-- map -->
            <remap from="grid_map"          to="map" />

            <!-- when sending goals on /rtabmap/goal topic, use actionlib to communicate with move_base -->
            <param name="use_action_for_goal"   type="bool"     value="true" />
            <remap from="move_base"             to="/move_base" />

            <!-- localization mode -->
            <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
            <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
            <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
            <param name="odom_frame_id" type="string" value=""/>

            <!-- ICP parameters -->
            <param name="Icp/VoxelSize"                  type="string" value="0.3"/>
            <param name="Icp/PointToPlaneK"              type="string" value="20"/>
            <param name="Icp/PointToPlaneRadius"         type="string" value="0"/>
            <param name="Icp/PointToPlane"               type="string" value="false"/>
            <param name="Icp/Iterations"                 type="string" value="10"/>
            <param name="Icp/Epsilon"                    type="string" value="0.001"/>
            <param name="Icp/MaxTranslation"             type="string" value="3"/>
            <param name="Icp/MaxCorrespondenceDistance"  type="string" value="1"/>
            <param name="Icp/PM"                         type="string" value="true"/>
            <param name="Icp/PMOutlierRatio"             type="string" value="0.7"/>
            <param name="Icp/CorrespondenceRatio"        type="string" value="0.4"/>
        
        </node>

        <node name="rtabmapviz" pkg="rtabmap_ros" type="rtabmapviz" output="screen" args="" launch-prefix="">    
            <param name="subscribe_stereo"          type="bool"     value="false"/>
            <param name="subscribe_odom_info"       type="bool"     value="false"/>
            <param name="subscribe_depth"           type="bool"     value="false"/>
            <param name="subscribe_rgbd"           type="bool"     value="true"/>

            <remap from="grid_map"          to="map" />
            <remap from="odom"              to="$(arg odom_topic)"/>
            <remap from="scan_cloud"        to="/velodyne_points"/>
        </node>

        <!-- visualization with RVIZ -->
        <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>
        <node if="$(arg rviz)" pkg="nodelet" type="nodelet" name="points_xyzrgb" args="standalone rtabmap_ros/point_cloud_xyzrgb" output="screen">
            <remap from="cloud"             to="/rtabmap/local_grid/obstacle" />

            <param name="decimation"  type="double" value="4"/>
            <param name="voxel_size"  type="double" value="0.0"/>
            <param name="approx_sync" type="bool"   value="$(arg approx_sync)"/>
        </node>

    </group>
</launch>
